<div class="container card rounded shadow-sm p-3">
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Codigo do Ingresso</th>
        <th>Evento</th>
        <th>Data do Evento</th>
        <th>Data da Venda</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ingresso of ingressoList; let i = index" >
        <td>{{ i + 1 }}</td>
        <td>{{ ingresso.id }}</td>
        <td>{{ ingresso.nomeEvento }}</td>
        <td>{{ ingresso.dataEvento | date:'dd/MM/yyyy' }}</td>
        <td>{{ ingresso.dataVenda | date:'dd/MM/yyyy' }}</td>
      </tr>
    </tbody>
  </table>

</div>
