################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FiapIngresso/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/Fiap.Ingresso/FileContentIndex/23b0044b-94f9-4eda-b817-0b5bdde273ac.vsidx
*.vsidx
/.vs/Fiap.Ingresso/FileContentIndex/708a3ffb-76c3-4e33-aa2c-9364884d56b1.vsidx
/.vs/Fiap.Ingresso/v17/.wsuo
/.vs/Fiap.Ingresso/FileContentIndex/112e0227-b5da-4de5-afbf-000159e51ad3.vsidx
