<div class="container card rounded shadow-sm p-3">

  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Tema</th>
        <th class="d-none d-md-table-cell">Local</th>
        <th>Data</th>
        <th class="d-none d-md-table-cell">Qtd Pessoas</th>
        <th class="d-none d-md-table-cell">Lote</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr style="cursor: pointer;">
        <td class="d-none d-md-table-cell">teste</td>
        <td>teste</td>
        <td>teste</td>
        <td class="d-none d-md-table-cell">teste</td>
        <td>teste</td>
        <td class="d-none d-md-table-cell">teste</td>
        <td class="d-none d-md-table-cell">teste</td>
      </tr>
      <tr style="cursor: pointer;">
        <td class="d-none d-md-table-cell">teste</td>
        <td>teste</td>
        <td>teste</td>
        <td class="d-none d-md-table-cell">teste</td>
        <td>teste</td>
        <td class="d-none d-md-table-cell">teste</td>
        <td class="d-none d-md-table-cell">teste</td>
      </tr>
      <tr style="cursor: pointer;">
        <td class="d-none d-md-table-cell">teste</td>
        <td>teste</td>
        <td>teste</td>
        <td class="d-none d-md-table-cell">teste</td>
        <td>teste</td>
        <td class="d-none d-md-table-cell">teste</td>
        <td class="d-none d-md-table-cell">teste</td>
      </tr>
      <tr style="cursor: pointer;">
        <td class="d-none d-md-table-cell">teste</td>
        <td>teste</td>
        <td>teste</td>
        <td class="d-none d-md-table-cell">teste</td>
        <td>teste</td>
        <td class="d-none d-md-table-cell">teste</td>
        <td class="d-none d-md-table-cell">teste</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum evento encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>

</div>

