<div class="container card rounded shadow-sm p-3">

  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Data do Evento</th>
        <th>Publico Máximo</th>
        <th>Endereço</th>
        <th>CEP</th>
        <th>Descrição</th>
        <th>Site do Evento</th>
        <th>Valor</th>
        <th><i class="bi bi-bag"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evento of eventoList; let i = index" style="cursor: pointer;">
        <td>{{ i + 1 }}</td>
        <td>{{ evento.nome }}</td>
        <td>{{ evento.dataEvento | date:'dd/MM/yyyy' }}</td>
        <td>{{ evento.publicoMaximo }}</td>
        <td>{{ evento.logradouro }},{{ evento.numero }}. {{ evento.bairro }} - {{ evento.cidade }}</td>
        <td>{{ evento.cep }}</td>
        <td>{{ evento.descricao }}</td>
        <td>{{ evento.siteEvento }}</td>
        <td>{{ evento.valor }}</td>
        <td><button type="button" class="btn btn-outline-danger btn-sm me-1 d-none d-md-table-cell" mat-raised-button matTooltip="Editar"><i class="bi bi-cart-plus"></i></button></td>
      </tr>
    </tbody>
  </table>

</div>
