<nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow p-3">
  <div class="container">
    <a class="navbar-brand text-primary" href="home">Fiap Ingressos</a>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active " aria-current="page" href="home">Eventos</a>
      </div>
      <div class="navbar-nav">
        <a *ngIf="accountService.user$ | async as User" class="nav-link active" aria-current="page" routerLink="/user/meus-ingressos">Meus Ingressos</a>
        <a *ngIf="accountService.user$ |async as User" class="nav-link active" aria-current="page" (click)="logout()" routerLink="">Logout</a>
        <a *ngIf="(accountService.user$ | async) === null" class="nav-link active" aria-current="page" routerLink="/user/login">Login</a>
      </div>
    </div>
  </div>
</nav>
