<div class="container">
  <div class="card rounded shadow-sm mt-4 pb-4">
    <div class="form-group">
      <label class="form-label">Forma de pagamento</label>
      <select [(ngModel)]="pagamento.TipoPagamento" class="form-control" (change)="selectionMetodoPagament($event)">
        <option Value="1" selected>Boleto</option>
        <option value="2">Cartão</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-label">Número do Cartão</label>
      <input class="form-control" placeholder="1111.1111.1111.1111"
        mask="0000.0000.0000.0000" type="text" [disabled]="habilitaCartao"
        [(ngModel)]="pagamento.NumeroCartao"/>
    </div>

    <div class="form-group">
      <label class="form-label">Nome do Cartão</label>
      <input class="form-control" placeholder="Fulano da Silve"
      type="text" [disabled]="habilitaCartao" [(ngModel)]="pagamento.NomeCartao" maxlength="40"/>
    </div>

    <div class="form-group">
      <label class="form-label">Vencimento do Cartão</label>
      <input class="form-control" placeholder="00/00" mask="00/00"
      type="text" [disabled]="habilitaCartao" [(ngModel)]="pagamento.VencimentoCartao"/>
    </div>

    <div class="form-group">
      <label class="form-label">Código Verificado</label>
      <input class="form-control" placeholder="000" mask="000"
      type="text" [disabled]="habilitaCartao" [(ngModel)]="pagamento.CodigoVerificador" />
    </div>

    <div class="form-group mt-3 div-botaopagamento">
      <button type="button" class="btn btn-primary" (click)="fazerPagamento($event)">Pagamento</button>
    </div>
  </div>
</div>
